<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel EstudHistoClin masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$Estudiante_class}">{$label EstudHistoClin Estudiante}</th>
			<th class="{$FotoRostro_class}">{$label EstudHistoClin FotoRostro}</th>
			<th class="{$edad_class}">{$label EstudHistoClin edad}</th>
			<th class="{$RelacionHermano_class}">{$label EstudHistoClin RelacionHermano}</th>
			<th class="{$RelacionCompaneros_class}">{$label EstudHistoClin RelacionCompaneros}</th>
			<th class="{$CQuinJuega_class}">{$label EstudHistoClin CQuinJuega}</th>
			<th class="{$CQueJuega_class}">{$label EstudHistoClin CQueJuega}</th>
			<th class="{$TipoEmocion_class}">{$label EstudHistoClin TipoEmocion}</th>
			<th class="{$CQNinio_class}">{$label EstudHistoClin CQNinio}</th>
			<th class="{$FProblematico_class}">{$label EstudHistoClin FProblematico}</th>
			<th class="{$DuermeSolo_class}">{$label EstudHistoClin DuermeSolo}</th>
			<th class="{$ComparteCuarto_class}">{$label EstudHistoClin ComparteCuarto}</th>
			<th class="{$ParineteIgual_class}">{$label EstudHistoClin ParineteIgual}</th>
			<th class="{$TSocial_class}">{$label EstudHistoClin TSocial}</th>
			<th class="{$Balbucea_class}">{$label EstudHistoClin Balbucea}</th>
			<th class="{$Edad1Palabra_class}">{$label EstudHistoClin Edad1Palabra}</th>
			<th class="{$EdadMesVocalizo_class}">{$label EstudHistoClin EdadMesVocalizo}</th>
			<th class="{$AdaptSocial_class}">{$label EstudHistoClin AdaptSocial}</th>
			<th class="{$Documento_class}">{$label EstudHistoClin Documento}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$Estudiante_class}">{$Estudiante_mastervalue}</td>
			<td class="{$FotoRostro_class}">{$FotoRostro_mastervalue}</td>
			<td class="{$edad_class}">{$edad_mastervalue}</td>
			<td class="{$RelacionHermano_class}">{$RelacionHermano_mastervalue}</td>
			<td class="{$RelacionCompaneros_class}">{$RelacionCompaneros_mastervalue}</td>
			<td class="{$CQuinJuega_class}">{$CQuinJuega_mastervalue}</td>
			<td class="{$CQueJuega_class}">{$CQueJuega_mastervalue}</td>
			<td class="{$TipoEmocion_class}">{$TipoEmocion_mastervalue}</td>
			<td class="{$CQNinio_class}">{$CQNinio_mastervalue}</td>
			<td class="{$FProblematico_class}">{$FProblematico_mastervalue}</td>
			<td class="{$DuermeSolo_class}">{$DuermeSolo_mastervalue}</td>
			<td class="{$ComparteCuarto_class}">{$ComparteCuarto_mastervalue}</td>
			<td class="{$ParineteIgual_class}">{$ParineteIgual_mastervalue}</td>
			<td class="{$TSocial_class}">{$TSocial_mastervalue}</td>
			<td class="{$Balbucea_class}">{$Balbucea_mastervalue}</td>
			<td class="{$Edad1Palabra_class}">{$Edad1Palabra_mastervalue}</td>
			<td class="{$EdadMesVocalizo_class}">{$EdadMesVocalizo_mastervalue}</td>
			<td class="{$AdaptSocial_class}">{$AdaptSocial_mastervalue}</td>
			<td class="{$Documento_class}">{$Documento_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 





{END container_mastergrid}

</div>