<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel EstuHistCaracter masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$Estudiante_class}">{$label EstuHistCaracter Estudiante}</th>
			<th class="{$FotoRostro_class}">{$label EstuHistCaracter FotoRostro}</th>
			<th class="{$edad_class}">{$label EstuHistCaracter edad}</th>
			<th class="{$Tipo_Social_class}">{$label EstuHistCaracter Tipo_Social}</th>
			<th class="{$Ingresado_class}">{$label EstuHistCaracter Ingresado}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$Estudiante_class}">{$Estudiante_mastervalue}</td>
			<td class="{$FotoRostro_class}">{$FotoRostro_mastervalue}</td>
			<td class="{$edad_class}">{$edad_mastervalue}</td>
			<td class="{$Tipo_Social_class}">{$Tipo_Social_mastervalue}</td>
			<td class="{$Ingresado_class}">{$Ingresado_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 





{END container_mastergrid}

</div>