<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel EstuHistEmbarazo masterrprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$Estudiante_class}">{$label EstuHistEmbarazo Estudiante}</th>
			<th class="{$FotoRostro_class}">{$label EstuHistEmbarazo FotoRostro}</th>
			<th class="{$edad_class}">{$label EstuHistEmbarazo edad}</th>
			<th class="{$MesesNac_class}">{$label EstuHistEmbarazo MesesNac}</th>
			<th class="{$TipoParto_class}">{$label EstuHistEmbarazo TipoParto}</th>
			<th class="{$AbortosAnt_class}">{$label EstuHistEmbarazo AbortosAnt}</th>
			<th class="{$Emorragias_class}">{$label EstuHistEmbarazo Emorragias}</th>
			<th class="{$infecciones_class}">{$label EstuHistEmbarazo infecciones}</th>
			<th class="{$LloroPronto_class}">{$label EstuHistEmbarazo LloroPronto}</th>
			<th class="{$RespiroPronto_class}">{$label EstuHistEmbarazo RespiroPronto}</th>
			<th class="{$ColorNacido_class}">{$label EstuHistEmbarazo ColorNacido}</th>
			<th class="{$SufrimientoFetal_class}">{$label EstuHistEmbarazo SufrimientoFetal}</th>
			<th class="{$EmbDeseado_class}">{$label EstuHistEmbarazo EmbDeseado}</th>
			<th class="{$Embarazocol_class}">{$label EstuHistEmbarazo Embarazocol}</th>
			<th class="{$Ingresado_class}">{$label EstuHistEmbarazo Ingresado}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$Estudiante_class}">{$Estudiante_mastervalue}</td>
			<td class="{$FotoRostro_class}">{$FotoRostro_mastervalue}</td>
			<td class="{$edad_class}">{$edad_mastervalue}</td>
			<td class="{$MesesNac_class}">{$MesesNac_mastervalue}</td>
			<td class="{$TipoParto_class}">{$TipoParto_mastervalue}</td>
			<td class="{$AbortosAnt_class}">{$AbortosAnt_mastervalue}</td>
			<td class="{$Emorragias_class}">{$Emorragias_mastervalue}</td>
			<td class="{$infecciones_class}">{$infecciones_mastervalue}</td>
			<td class="{$LloroPronto_class}">{$LloroPronto_mastervalue}</td>
			<td class="{$RespiroPronto_class}">{$RespiroPronto_mastervalue}</td>
			<td class="{$ColorNacido_class}">{$ColorNacido_mastervalue}</td>
			<td class="{$SufrimientoFetal_class}">{$SufrimientoFetal_mastervalue}</td>
			<td class="{$EmbDeseado_class}">{$EmbDeseado_mastervalue}</td>
			<td class="{$Embarazocol_class}">{$Embarazocol_mastervalue}</td>
			<td class="{$Ingresado_class}">{$Ingresado_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 





{END container_mastergrid}

</div>