<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_search}
<div class="rnr-c rnr-cv rnr-c-search">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel EstudHistoClin search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criterio:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> Todas las condiciones</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Ninguna condición</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NO</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_Estudiante}">
	{BEGIN Estudiante_fieldblock}		
	<td>
		{$label EstudHistoClin Estudiante}
	</td>
	<td>
		<input type="checkbox" {$Estudiante_notbox}>
	</td>
	<td>
		{$searchtype_Estudiante}
	</td>
	<td>
		{$Estudiante_editcontrol}&nbsp;
	</td>
	<td>
		{$Estudiante_editcontrol1}&nbsp;
	</td>
{END Estudiante_fieldblock}
	</tr>
	<tr class="{$fielddispclass_FotoRostro}">
	{BEGIN FotoRostro_fieldblock}		
	<td>
		{$label EstudHistoClin FotoRostro}
	</td>
	<td>
		<input type="checkbox" {$FotoRostro_notbox}>
	</td>
	<td>
		{$searchtype_FotoRostro}
	</td>
	<td>
		{$FotoRostro_editcontrol}&nbsp;
	</td>
	<td>
		{$FotoRostro_editcontrol1}&nbsp;
	</td>
{END FotoRostro_fieldblock}
	</tr>
	<tr class="{$fielddispclass_edad}">
	{BEGIN edad_fieldblock}		
	<td>
		{$label EstudHistoClin edad}
	</td>
	<td>
		<input type="checkbox" {$edad_notbox}>
	</td>
	<td>
		{$searchtype_edad}
	</td>
	<td>
		{$edad_editcontrol}&nbsp;
	</td>
	<td>
		{$edad_editcontrol1}&nbsp;
	</td>
{END edad_fieldblock}
	</tr>
	<tr class="{$fielddispclass_RelacionHermano}">
	{BEGIN RelacionHermano_fieldblock}		
	<td>
		{$label EstudHistoClin RelacionHermano}
	</td>
	<td>
		<input type="checkbox" {$RelacionHermano_notbox}>
	</td>
	<td>
		{$searchtype_RelacionHermano}
	</td>
	<td>
		{$RelacionHermano_editcontrol}&nbsp;
	</td>
	<td>
		{$RelacionHermano_editcontrol1}&nbsp;
	</td>
{END RelacionHermano_fieldblock}
	</tr>
	<tr class="{$fielddispclass_RelacionCompaneros}">
	{BEGIN RelacionCompaneros_fieldblock}		
	<td>
		{$label EstudHistoClin RelacionCompaneros}
	</td>
	<td>
		<input type="checkbox" {$RelacionCompaneros_notbox}>
	</td>
	<td>
		{$searchtype_RelacionCompaneros}
	</td>
	<td>
		{$RelacionCompaneros_editcontrol}&nbsp;
	</td>
	<td>
		{$RelacionCompaneros_editcontrol1}&nbsp;
	</td>
{END RelacionCompaneros_fieldblock}
	</tr>
	<tr class="{$fielddispclass_CQuinJuega}">
	{BEGIN CQuinJuega_fieldblock}		
	<td>
		{$label EstudHistoClin CQuinJuega}
	</td>
	<td>
		<input type="checkbox" {$CQuinJuega_notbox}>
	</td>
	<td>
		{$searchtype_CQuinJuega}
	</td>
	<td>
		{$CQuinJuega_editcontrol}&nbsp;
	</td>
	<td>
		{$CQuinJuega_editcontrol1}&nbsp;
	</td>
{END CQuinJuega_fieldblock}
	</tr>
	<tr class="{$fielddispclass_CQueJuega}">
	{BEGIN CQueJuega_fieldblock}		
	<td>
		{$label EstudHistoClin CQueJuega}
	</td>
	<td>
		<input type="checkbox" {$CQueJuega_notbox}>
	</td>
	<td>
		{$searchtype_CQueJuega}
	</td>
	<td>
		{$CQueJuega_editcontrol}&nbsp;
	</td>
	<td>
		{$CQueJuega_editcontrol1}&nbsp;
	</td>
{END CQueJuega_fieldblock}
	</tr>
	<tr class="{$fielddispclass_TipoEmocion}">
	{BEGIN TipoEmocion_fieldblock}		
	<td>
		{$label EstudHistoClin TipoEmocion}
	</td>
	<td>
		<input type="checkbox" {$TipoEmocion_notbox}>
	</td>
	<td>
		{$searchtype_TipoEmocion}
	</td>
	<td>
		{$TipoEmocion_editcontrol}&nbsp;
	</td>
	<td>
		{$TipoEmocion_editcontrol1}&nbsp;
	</td>
{END TipoEmocion_fieldblock}
	</tr>
	<tr class="{$fielddispclass_CQNinio}">
	{BEGIN CQNinio_fieldblock}		
	<td>
		{$label EstudHistoClin CQNinio}
	</td>
	<td>
		<input type="checkbox" {$CQNinio_notbox}>
	</td>
	<td>
		{$searchtype_CQNinio}
	</td>
	<td>
		{$CQNinio_editcontrol}&nbsp;
	</td>
	<td>
		{$CQNinio_editcontrol1}&nbsp;
	</td>
{END CQNinio_fieldblock}
	</tr>
	<tr class="{$fielddispclass_FProblematico}">
	{BEGIN FProblematico_fieldblock}		
	<td>
		{$label EstudHistoClin FProblematico}
	</td>
	<td>
		<input type="checkbox" {$FProblematico_notbox}>
	</td>
	<td>
		{$searchtype_FProblematico}
	</td>
	<td>
		{$FProblematico_editcontrol}&nbsp;
	</td>
	<td>
		{$FProblematico_editcontrol1}&nbsp;
	</td>
{END FProblematico_fieldblock}
	</tr>
	<tr class="{$fielddispclass_DuermeSolo}">
	{BEGIN DuermeSolo_fieldblock}		
	<td>
		{$label EstudHistoClin DuermeSolo}
	</td>
	<td>
		<input type="checkbox" {$DuermeSolo_notbox}>
	</td>
	<td>
		{$searchtype_DuermeSolo}
	</td>
	<td>
		{$DuermeSolo_editcontrol}&nbsp;
	</td>
	<td>
		{$DuermeSolo_editcontrol1}&nbsp;
	</td>
{END DuermeSolo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_ComparteCuarto}">
	{BEGIN ComparteCuarto_fieldblock}		
	<td>
		{$label EstudHistoClin ComparteCuarto}
	</td>
	<td>
		<input type="checkbox" {$ComparteCuarto_notbox}>
	</td>
	<td>
		{$searchtype_ComparteCuarto}
	</td>
	<td>
		{$ComparteCuarto_editcontrol}&nbsp;
	</td>
	<td>
		{$ComparteCuarto_editcontrol1}&nbsp;
	</td>
{END ComparteCuarto_fieldblock}
	</tr>
	<tr class="{$fielddispclass_ParineteIgual}">
	{BEGIN ParineteIgual_fieldblock}		
	<td>
		{$label EstudHistoClin ParineteIgual}
	</td>
	<td>
		<input type="checkbox" {$ParineteIgual_notbox}>
	</td>
	<td>
		{$searchtype_ParineteIgual}
	</td>
	<td>
		{$ParineteIgual_editcontrol}&nbsp;
	</td>
	<td>
		{$ParineteIgual_editcontrol1}&nbsp;
	</td>
{END ParineteIgual_fieldblock}
	</tr>
	<tr class="{$fielddispclass_TSocial}">
	{BEGIN TSocial_fieldblock}		
	<td>
		{$label EstudHistoClin TSocial}
	</td>
	<td>
		<input type="checkbox" {$TSocial_notbox}>
	</td>
	<td>
		{$searchtype_TSocial}
	</td>
	<td>
		{$TSocial_editcontrol}&nbsp;
	</td>
	<td>
		{$TSocial_editcontrol1}&nbsp;
	</td>
{END TSocial_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Balbucea}">
	{BEGIN Balbucea_fieldblock}		
	<td>
		{$label EstudHistoClin Balbucea}
	</td>
	<td>
		<input type="checkbox" {$Balbucea_notbox}>
	</td>
	<td>
		{$searchtype_Balbucea}
	</td>
	<td>
		{$Balbucea_editcontrol}&nbsp;
	</td>
	<td>
		{$Balbucea_editcontrol1}&nbsp;
	</td>
{END Balbucea_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Edad1Palabra}">
	{BEGIN Edad1Palabra_fieldblock}		
	<td>
		{$label EstudHistoClin Edad1Palabra}
	</td>
	<td>
		<input type="checkbox" {$Edad1Palabra_notbox}>
	</td>
	<td>
		{$searchtype_Edad1Palabra}
	</td>
	<td>
		{$Edad1Palabra_editcontrol}&nbsp;
	</td>
	<td>
		{$Edad1Palabra_editcontrol1}&nbsp;
	</td>
{END Edad1Palabra_fieldblock}
	</tr>
	<tr class="{$fielddispclass_EdadMesVocalizo}">
	{BEGIN EdadMesVocalizo_fieldblock}		
	<td>
		{$label EstudHistoClin EdadMesVocalizo}
	</td>
	<td>
		<input type="checkbox" {$EdadMesVocalizo_notbox}>
	</td>
	<td>
		{$searchtype_EdadMesVocalizo}
	</td>
	<td>
		{$EdadMesVocalizo_editcontrol}&nbsp;
	</td>
	<td>
		{$EdadMesVocalizo_editcontrol1}&nbsp;
	</td>
{END EdadMesVocalizo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_AdaptSocial}">
	{BEGIN AdaptSocial_fieldblock}		
	<td>
		{$label EstudHistoClin AdaptSocial}
	</td>
	<td>
		<input type="checkbox" {$AdaptSocial_notbox}>
	</td>
	<td>
		{$searchtype_AdaptSocial}
	</td>
	<td>
		{$AdaptSocial_editcontrol}&nbsp;
	</td>
	<td>
		{$AdaptSocial_editcontrol1}&nbsp;
	</td>
{END AdaptSocial_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Documento}">
	{BEGIN Documento_fieldblock}		
	<td>
		{$label EstudHistoClin Documento}
	</td>
	<td>
		<input type="checkbox" {$Documento_notbox}>
	</td>
	<td>
		{$searchtype_Documento}
	</td>
	<td>
		{$Documento_editcontrol}&nbsp;
	</td>
	<td>
		{$Documento_editcontrol1}&nbsp;
	</td>
{END Documento_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Buscar</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reiniciar</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Volver a la lista</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_search}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
