<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_search}
<div class="rnr-c rnr-cv rnr-c-search">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel lcs_terapista search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criterio:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> Todas las condiciones</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Ninguna condición</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NO</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_idterapista}">
	{BEGIN idterapista_fieldblock}		
	<td>
		{$label lcs_terapista idterapista}
	</td>
	<td>
		<input type="checkbox" {$idterapista_notbox}>
	</td>
	<td>
		{$searchtype_idterapista}
	</td>
	<td>
		{$idterapista_editcontrol}&nbsp;
	</td>
	<td>
		{$idterapista_editcontrol1}&nbsp;
	</td>
{END idterapista_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Nombre}">
	{BEGIN Nombre_fieldblock}		
	<td>
		{$label lcs_terapista Nombre}
	</td>
	<td>
		<input type="checkbox" {$Nombre_notbox}>
	</td>
	<td>
		{$searchtype_Nombre}
	</td>
	<td>
		{$Nombre_editcontrol}&nbsp;
	</td>
	<td>
		{$Nombre_editcontrol1}&nbsp;
	</td>
{END Nombre_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Apellido}">
	{BEGIN Apellido_fieldblock}		
	<td>
		{$label lcs_terapista Apellido}
	</td>
	<td>
		<input type="checkbox" {$Apellido_notbox}>
	</td>
	<td>
		{$searchtype_Apellido}
	</td>
	<td>
		{$Apellido_editcontrol}&nbsp;
	</td>
	<td>
		{$Apellido_editcontrol1}&nbsp;
	</td>
{END Apellido_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Telefono}">
	{BEGIN Telefono_fieldblock}		
	<td>
		{$label lcs_terapista Telefono}
	</td>
	<td>
		<input type="checkbox" {$Telefono_notbox}>
	</td>
	<td>
		{$searchtype_Telefono}
	</td>
	<td>
		{$Telefono_editcontrol}&nbsp;
	</td>
	<td>
		{$Telefono_editcontrol1}&nbsp;
	</td>
{END Telefono_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Email}">
	{BEGIN Email_fieldblock}		
	<td>
		{$label lcs_terapista Email}
	</td>
	<td>
		<input type="checkbox" {$Email_notbox}>
	</td>
	<td>
		{$searchtype_Email}
	</td>
	<td>
		{$Email_editcontrol}&nbsp;
	</td>
	<td>
		{$Email_editcontrol1}&nbsp;
	</td>
{END Email_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Direccion}">
	{BEGIN Direccion_fieldblock}		
	<td>
		{$label lcs_terapista Direccion}
	</td>
	<td>
		<input type="checkbox" {$Direccion_notbox}>
	</td>
	<td>
		{$searchtype_Direccion}
	</td>
	<td>
		{$Direccion_editcontrol}&nbsp;
	</td>
	<td>
		{$Direccion_editcontrol1}&nbsp;
	</td>
{END Direccion_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Ingresado}">
	{BEGIN Ingresado_fieldblock}		
	<td>
		{$label lcs_terapista Ingresado}
	</td>
	<td>
		<input type="checkbox" {$Ingresado_notbox}>
	</td>
	<td>
		{$searchtype_Ingresado}
	</td>
	<td>
		{$Ingresado_editcontrol}&nbsp;
	</td>
	<td>
		{$Ingresado_editcontrol1}&nbsp;
	</td>
{END Ingresado_fieldblock}
	</tr>
	<tr class="{$fielddispclass__idEspeMed}">
	{BEGIN _idEspeMed_fieldblock}		
	<td>
		{$label lcs_terapista _idEspeMed}
	</td>
	<td>
		<input type="checkbox" {$_idEspeMed_notbox}>
	</td>
	<td>
		{$searchtype__idEspeMed}
	</td>
	<td>
		{$_idEspeMed_editcontrol}&nbsp;
	</td>
	<td>
		{$_idEspeMed_editcontrol1}&nbsp;
	</td>
{END _idEspeMed_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Buscar</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reiniciar</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Volver a la lista</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_search}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
