<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
{BEGIN pdflink_block}
<a href="#" class="pdflink rnr-button button" {$pdflink_attrs}>Vista PDF</a>
{END pdflink_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}



{BEGIN container_master}
<div class="rnr-c rnr-ch rnr-c-master">

{BEGIN mastertable_block}
<div  class="style1 rnr-bl rnr-b-masterinfoprint {$brickclass_masterinfoprint}">{$showmasterfile}
</div>
{END mastertable_block}

<div class="rnr-hfiller"></div>
</div>
{END container_master}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">


<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel lcs_encargado print}</h1>
</div>


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Página <span class="rp-pageno">{$pageno}</span> / <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN idEncargado_fieldheadercolumn}
<th class="runner-cc {$idEncargado_class}" {$idEncargado_style}>
	{BEGIN idEncargado_fieldheader}
	<b>{$label lcs_encargado idEncargado}</b>
	{END idEncargado_fieldheader}
</th>
{END idEncargado_fieldheadercolumn}
	{BEGIN Nombre_fieldheadercolumn}
<th class="runner-cc {$Nombre_class}" {$Nombre_style}>
	{BEGIN Nombre_fieldheader}
	<b>{$label lcs_encargado Nombre}</b>
	{END Nombre_fieldheader}
</th>
{END Nombre_fieldheadercolumn}
	{BEGIN Apellido_fieldheadercolumn}
<th class="runner-cc {$Apellido_class}" {$Apellido_style}>
	{BEGIN Apellido_fieldheader}
	<b>{$label lcs_encargado Apellido}</b>
	{END Apellido_fieldheader}
</th>
{END Apellido_fieldheadercolumn}
	{BEGIN Direccion_fieldheadercolumn}
<th class="runner-cc {$Direccion_class}" {$Direccion_style}>
	{BEGIN Direccion_fieldheader}
	<b>{$label lcs_encargado Direccion}</b>
	{END Direccion_fieldheader}
</th>
{END Direccion_fieldheadercolumn}
	{BEGIN Telefono_fieldheadercolumn}
<th class="runner-cc {$Telefono_class}" {$Telefono_style}>
	{BEGIN Telefono_fieldheader}
	<b>{$label lcs_encargado Telefono}</b>
	{END Telefono_fieldheader}
</th>
{END Telefono_fieldheadercolumn}
	{BEGIN Ocupacion_fieldheadercolumn}
<th class="runner-cc {$Ocupacion_class}" {$Ocupacion_style}>
	{BEGIN Ocupacion_fieldheader}
	<b>{$label lcs_encargado Ocupacion}</b>
	{END Ocupacion_fieldheader}
</th>
{END Ocupacion_fieldheadercolumn}
	{BEGIN Fnac_fieldheadercolumn}
<th class="runner-cc {$Fnac_class}" {$Fnac_style}>
	{BEGIN Fnac_fieldheader}
	<b>{$label lcs_encargado Fnac}</b>
	{END Fnac_fieldheader}
</th>
{END Fnac_fieldheadercolumn}
	{BEGIN Ingresado_fieldheadercolumn}
<th class="runner-cc {$Ingresado_class}" {$Ingresado_style}>
	{BEGIN Ingresado_fieldheader}
	<b>{$label lcs_encargado Ingresado}</b>
	{END Ingresado_fieldheader}
</th>
{END Ingresado_fieldheadercolumn}
	{BEGIN _idEstudiante_fieldheadercolumn}
<th class="runner-cc {$_idEstudiante_class}" {$_idEstudiante_style}>
	{BEGIN _idEstudiante_fieldheader}
	<b>{$label lcs_encargado _idEstudiante}</b>
	{END _idEstudiante_fieldheader}
</th>
{END _idEstudiante_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN idEncargado_fieldcolumn}
<td  class="runner-cc {$idEncargado_class}" {$idEncargado_style} {$recordattrs}>
	{$idEncargado_value}
</td>
{END idEncargado_fieldcolumn}
	{BEGIN Nombre_fieldcolumn}
<td  class="runner-cc {$Nombre_class}" {$Nombre_style} {$recordattrs}>
	{$Nombre_value}
</td>
{END Nombre_fieldcolumn}
	{BEGIN Apellido_fieldcolumn}
<td  class="runner-cc {$Apellido_class}" {$Apellido_style} {$recordattrs}>
	{$Apellido_value}
</td>
{END Apellido_fieldcolumn}
	{BEGIN Direccion_fieldcolumn}
<td  class="runner-cc {$Direccion_class}" {$Direccion_style} {$recordattrs}>
	{$Direccion_value}
</td>
{END Direccion_fieldcolumn}
	{BEGIN Telefono_fieldcolumn}
<td  class="runner-cc {$Telefono_class}" {$Telefono_style} {$recordattrs}>
	{$Telefono_value}
</td>
{END Telefono_fieldcolumn}
	{BEGIN Ocupacion_fieldcolumn}
<td  class="runner-cc {$Ocupacion_class}" {$Ocupacion_style} {$recordattrs}>
	{$Ocupacion_value}
</td>
{END Ocupacion_fieldcolumn}
	{BEGIN Fnac_fieldcolumn}
<td  class="runner-cc {$Fnac_class}" {$Fnac_style} {$recordattrs}>
	{$Fnac_value}
</td>
{END Fnac_fieldcolumn}
	{BEGIN Ingresado_fieldcolumn}
<td  class="runner-cc {$Ingresado_class}" {$Ingresado_style} {$recordattrs}>
	{$Ingresado_value}
</td>
{END Ingresado_fieldcolumn}
	{BEGIN _idEstudiante_fieldcolumn}
<td  class="runner-cc {$_idEstudiante_class}" {$_idEstudiante_style} {$recordattrs}>
	{$_idEstudiante_value}
</td>
{END _idEstudiante_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
