<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel lcs_centro masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$idCentro_class}">{$label lcs_centro idCentro}</th>
			<th class="{$Nombre_class}">{$label lcs_centro Nombre}</th>
			<th class="{$Direcci_n_class}">{$label lcs_centro Direcci_n}</th>
			<th class="{$Telefono_class}">{$label lcs_centro Telefono}</th>
			<th class="{$Propietario_class}">{$label lcs_centro Propietario}</th>
			<th class="{$Responsable_class}">{$label lcs_centro Responsable}</th>
			<th class="{$Ingresado_class}">{$label lcs_centro Ingresado}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$idCentro_class}">{$idCentro_mastervalue}</td>
			<td class="{$Nombre_class}">{$Nombre_mastervalue}</td>
			<td class="{$Direcci_n_class}">{$Direcci_n_mastervalue}</td>
			<td class="{$Telefono_class}">{$Telefono_mastervalue}</td>
			<td class="{$Propietario_class}">{$Propietario_mastervalue}</td>
			<td class="{$Responsable_class}">{$Responsable_mastervalue}</td>
			<td class="{$Ingresado_class}">{$Ingresado_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 





{END container_mastergrid}

</div>