<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="Nombre">
	{$Nombre_editcontrol}
	</control>
	<control field="Apellido">
	{$Apellido_editcontrol}
	</control>
	<control field="Telefono">
	{$Telefono_editcontrol}
	</control>
	<control field="Email">
	{$Email_editcontrol}
	</control>
	<control field="celular">
	{$celular_editcontrol}
	</control>
	<control field="Voluntario">
	{$Voluntario_editcontrol}
	</control>
	<control field="Ingresado">
	{$Ingresado_editcontrol}
	</control>
	<control field="_idCentro">
	{$_idCentro_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>