<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-cv rnr-c-dcount">


<div  class="rnr-brickcontents style1 rnr-b-detailspreviewheader {$brickclass_detailspreviewheader}">	<h1>{$pagetitlelabel lcs_medicamento detailspreview}</h1>
</div>



<div  class="rnr-brickcontents style1 rnr-b-detailspreviewdetailsfount {$brickclass_detailspreviewdetailsfount}">Detalles encontrados: <strong>{$row_count}.</strong>
</div>


{BEGIN display_first}
<div  class="rnr-brickcontents style1 rnr-b-detailspreviewdispfirst {$brickclass_detailspreviewdispfirst}">Mostrando primero: <strong>{$display_count}</strong>.
</div>{END display_first}


</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="rnr-c rnr-cont rnr-c--detailspreviewgrid rnr-b-detailspreviewgrid rnr-gridtable">
{BEGIN details_row_header}
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$idMedicamento_class}">{$label lcs_medicamento idMedicamento}</th>
			<th class="{$TipoMedicamento_class}">{$label lcs_medicamento TipoMedicamento}</th>
			<th class="{$NombreMed_class}">{$label lcs_medicamento NombreMed}</th>
			<th class="{$dias_class}">{$label lcs_medicamento dias}</th>
			<th class="{$Hora_class}">{$label lcs_medicamento Hora}</th>
			<th class="{$Dosis_class}">{$label lcs_medicamento Dosis}</th>
			<th class="{$Ingresado_class}">{$label lcs_medicamento Ingresado}</th>
			<th class="{$_idEnfermedades_class}">{$label lcs_medicamento _idEnfermedades}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr class="rnr-row style1">
			<td class="{$idMedicamento_class}">{$idMedicamento_value}</td>
			<td class="{$TipoMedicamento_class}">{$TipoMedicamento_value}</td>
			<td class="{$NombreMed_class}">{$NombreMed_value}</td>
			<td class="{$dias_class}">{$dias_value}</td>
			<td class="{$Hora_class}">{$Hora_value}</td>
			<td class="{$Dosis_class}">{$Dosis_value}</td>
			<td class="{$Ingresado_class}">{$Ingresado_value}</td>
			<td class="{$_idEnfermedades_class}">{$_idEnfermedades_value}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>