<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_add} rnr-wrapper rnr-cbw-add">

{BEGIN container_add}
<div class="rnr-c rnr-cv rnr-c-add">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel lcs_personal add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-addfields {$brickclass_addfields}"><table class="fieldGrid">
	{BEGIN TipoUsuario_fieldblock}
<tr class="{$fielddispclass_TipoUsuario}" data-fieldname="TipoUsuario">
	<td class="rnr-label">
		{BEGIN TipoUsuario_label}{$label lcs_personal TipoUsuario}{END TipoUsuario_label}
	</td>
	<td class="rnr-control style3">
		{$TipoUsuario_editcontrol}&nbsp;
	</td>
</tr>
{END TipoUsuario_fieldblock}
	{BEGIN Nombre_fieldblock}
<tr class="{$fielddispclass_Nombre}" data-fieldname="Nombre">
	<td class="rnr-label">
		{BEGIN Nombre_label}{$label lcs_personal Nombre}{END Nombre_label}
	</td>
	<td class="rnr-control style3">
		{$Nombre_editcontrol}&nbsp;
	</td>
</tr>
{END Nombre_fieldblock}
	{BEGIN Apellido_fieldblock}
<tr class="{$fielddispclass_Apellido}" data-fieldname="Apellido">
	<td class="rnr-label">
		{BEGIN Apellido_label}{$label lcs_personal Apellido}{END Apellido_label}
	</td>
	<td class="rnr-control style3">
		{$Apellido_editcontrol}&nbsp;
	</td>
</tr>
{END Apellido_fieldblock}
	{BEGIN Telefono_fieldblock}
<tr class="{$fielddispclass_Telefono}" data-fieldname="Telefono">
	<td class="rnr-label">
		{BEGIN Telefono_label}{$label lcs_personal Telefono}{END Telefono_label}
	</td>
	<td class="rnr-control style3">
		{$Telefono_editcontrol}&nbsp;
	</td>
</tr>
{END Telefono_fieldblock}
	{BEGIN Email_fieldblock}
<tr class="{$fielddispclass_Email}" data-fieldname="Email">
	<td class="rnr-label">
		{BEGIN Email_label}{$label lcs_personal Email}{END Email_label}
	</td>
	<td class="rnr-control style3">
		{$Email_editcontrol}&nbsp;
	</td>
</tr>
{END Email_fieldblock}
	{BEGIN Password_fieldblock}
<tr class="{$fielddispclass_Password}" data-fieldname="Password">
	<td class="rnr-label">
		{BEGIN Password_label}{$label lcs_personal Password}{END Password_label}
	</td>
	<td class="rnr-control style3">
		{$Password_editcontrol}&nbsp;
	</td>
</tr>
{END Password_fieldblock}
	{BEGIN celular_fieldblock}
<tr class="{$fielddispclass_celular}" data-fieldname="celular">
	<td class="rnr-label">
		{BEGIN celular_label}{$label lcs_personal celular}{END celular_label}
	</td>
	<td class="rnr-control style3">
		{$celular_editcontrol}&nbsp;
	</td>
</tr>
{END celular_fieldblock}
	{BEGIN Voluntario_fieldblock}
<tr class="{$fielddispclass_Voluntario}" data-fieldname="Voluntario">
	<td class="rnr-label">
		{BEGIN Voluntario_label}{$label lcs_personal Voluntario}{END Voluntario_label}
	</td>
	<td class="rnr-control style3">
		{$Voluntario_editcontrol}&nbsp;
	</td>
</tr>
{END Voluntario_fieldblock}
	{BEGIN _idCentro_fieldblock}
<tr class="{$fielddispclass__idCentro}" data-fieldname="_idCentro">
	<td class="rnr-label">
		{BEGIN _idCentro_label}{$label lcs_personal _idCentro}{END _idCentro_label}
	</td>
	<td class="rnr-control style3">
		{$_idCentro_editcontrol}&nbsp;
	</td>
</tr>
{END _idCentro_fieldblock}
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}">{BEGIN save_button}
<a href="#" class="rnr-button main" id="saveButton{$id}">Guardar</a>
{END save_button}
{BEGIN reset_button}
<a href="#" class="rnr-button" id="resetButton{$id}">Reiniciar</a>
{END reset_button}
{BEGIN cancel_button}
<a href="#" class="rnr-button" id="cancelButton{$id}">Cancelar</a>
{END cancel_button}
{BEGIN back_button}
<a href="#" class="rnr-button" id="backButton{$id}">Volver a la lista</a>
{END back_button}
{BEGIN backToMenu_button}
<a href="#" class="rnr-button" id="backToMenuButton{$id}">Regresar al menú</a>
{END backToMenu_button}</div>{END addbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_add}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
