<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-report" {$bodyattrs}>
	{BEGIN body}{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_master}<div class="rnr-c rnr-ch rnr-c-master">

{BEGIN mastertable_block}<div  class="style1 rnr-bl rnr-b-masterinfo {$brickclass_masterinfo}">{$showmasterfile}
<a class="runner-link" {$backtomasterlink_attrs}>
	<b>Volver a {$backtomasterlink_caption}</b>
</a></div>
{END mastertable_block}

<div class="rnr-hfiller"></div>
</div>
{END container_master}



{BEGIN container_toplinks}<div class="rnr-c rnr-ch rnr-c-toplinks">
<div class="rnr-hfiller"></div>
{BEGIN prints_block}<div  class="style1 rnr-br rnr-b-toplinks_print {$brickclass_toplinks_print}">{BEGIN print_link}<a target=_blank href="Reporte_Estudiantes_print.php" class="rnr-button" {$printlink_attrs}>Impresora versión amigable</a>
{END print_link}

{BEGIN printall_link}<a target=_blank href="Reporte_Estudiantes_print.php?all=1" class="rnr-button" {$printalllink_attrs}>Imprimir el informe entero</a>
{END printall_link}




</div>
{END prints_block}


{BEGIN asearch_link}<div  class="style1 rnr-br rnr-b-toplinks_advsearch {$brickclass_toplinks_advsearch}">	<a href="Reporte_Estudiantes_search.php" class="rnr-button" {$advsearchlink_attrs}>Búsqueda avanzada</a>
</div>
{END asearch_link}




{BEGIN export_link}<div  class="style1 rnr-br rnr-b-toplinks_export_links {$brickclass_toplinks_export_links}">	<span id="export_links{$id}">
		<a href="Reporte_Estudiantes_export.php?all=1&amp;format=excel" {$excellink_attrs}><img alt="Exportar a Excel" src="images/excel.gif" border="0"></a>
		<a href="Reporte_Estudiantes_export.php?all=1&amp;format=word" {$wordlink_attrs}><img alt="Exportar a Word " src="images/word.gif" border="0" ></a>
			<a href="Reporte_Estudiantes_export.php?all=1&amp;format=pdf" {$pdflink_attrs}><img alt="Exportar a PDF" src="images/pdf.gif" border="0"></a>
	</span>
</div>
{END export_link}


</div>
{END container_toplinks}



{BEGIN container_search}<div class="rnr-c rnr-ch rnr-c-search">

{BEGIN searchform_block}<div  class="style1 rnr-bl rnr-b-search {$brickclass_search}">	<span>
		{BEGIN searchform_text}<input type="text" {$searchfor_attrs} size="25">
		{END searchform_text}
		{BEGIN searchform_search}<a href="#" class="rnr-button img" data-icon="search" {$searchbutton_attrs}></a>
		{END searchform_search}
		{BEGIN searchform_showall}<a href="#" class="rnr-button" {$showAllCont_attrs} {$showallbutton_attrs}>Mostrar todo</a>
		{END searchform_showall}
	</span>
</div>
{END searchform_block}


{BEGIN searchformbuttons_block}<div  class="style1 rnr-bl rnr-b-search_buttons {$brickclass_search_buttons}">{BEGIN searchPanelTopButtons}<span>
	<a href="#" class="rnr-button img" id="showSrchWin{$id}" data-icon="panelfloat" {$showHideSearchWin_attrs}></a>
	<a href="#" class="rnr-button img" id="showOptPanel{$id}" data-icon="paneldown" {$showHideSearchPanel_attrs}></a>
</span>
{END searchPanelTopButtons}
</div>
{END searchformbuttons_block}


{BEGIN searchsaving_block}<div  class="style1 rnr-bl rnr-b-search_saving_buttons {$brickclass_search_saving_buttons}"></div>
{END searchsaving_block}

<div class="rnr-hfiller"></div>
{BEGIN details_block}<div  class="style1 rnr-br rnr-b-details_found {$brickclass_details_found}">	<span {$details_attrs}>
			Grupos encontrados: <b><span class="rnr-details_found_count">{$records_found}</span></b>
	</span>
</div>
{END details_block}


{BEGIN pages_block}<div  class="style1 rnr-br rnr-b-page_of {$brickclass_page_of}">	<span {$pages_attrs}>
		Página <b>{$page}</b> / <b>{$maxpages}</b>
	</span>

</div>
{END pages_block}


{BEGIN recordspp_block}<div  class="style1 rnr-br rnr-b-recsperpage {$brickclass_recsperpage}">	<span id="recordspp_block{$id}" name="recordspp_block{$id}">
			Grupos por página:&nbsp;{$grpsPerPage}
	</span>	
</div>
{END recordspp_block}


</div>
{END container_search}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				

{BEGIN container_left}<div class="rnr-c rnr-cv rnr-c-left">



{BEGIN menu_block}{$menu main}
{END menu_block}


{BEGIN searchPanel}<div  class="rnr-brickcontents style1 rnr-b-searchpanel {$brickclass_searchpanel}"><div class="searchPanelContainer">
<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	
	<div class="srchCritTop" style="display: none;">
		Criterio:&nbsp;
		<input type="radio" name="srchType{$id}" class="rnr-radio-button" {$all_checkbox}>&nbsp;{BEGIN all_checkbox_label}<span>todos</span>{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType{$id}" class="rnr-radio-button" {$any_checkbox}>&nbsp;{BEGIN any_checkbox_label}<span>alguno</span>{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="rnr-buttons-group">
			<a href="#" id="showHideControlChooseMenu{$id}" class="rnr-button" {$showHideCtrls_attrs}>Añadir campo</a>
		</span>
		
		<a href="#" id="showHideSearchType{$id}" class="rnr-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
	</div>
	

	<table class="controlsBlock {$controls_block_class}">
				{BEGIN searchCtrlBlock}<TBODY>
  <tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>	
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="rnr-searchtype">{$searchtype}</div>
				<div class="rnr-searchcontrol">{$searchcontrol}</div>
				<div class="rnr-searchcontrol">{$searchcontrol1}</div>
			</td>	
		</tr>
		</TBODY>{END searchCtrlBlock}
	</table>	


	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<a href="#" class="rnr-button" id="searchButton{$id}" {$searchbutton_attrs}>Buscar</a>
	</div>
</div>

</div></div>{END searchPanel}



</div>
{END container_left}


			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_message}<div class="rnr-c rnr-ch rnr-c-message">

{BEGIN message_block}<div  class="style1 rnr-bc rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>
{END message_block}


</div>
{END container_message}



{BEGIN container_grid}<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {background-color:#ffffbb;}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color:#ffe0b0;}
	.rnr-report {width: 100%;}
	td {padding: 2px; 4px;}

		td.group_1{background-color: #90EE90;}
		td.nbgroup_1{background-color: #90EE90;}
		td.header_1 {
			background-color: #7ACA7A; 
			font-size:120%;
			padding: 2px 8px;
			font-weight: bold;
		}

		td.group_2{background-color: #ADD8E6;}
		td.nbgroup_2{background-color: #ADD8E6;}
		td.header_2 {
			background-color: #93B7C3; 
			font-size:120%;
			padding: 2px 8px;
			font-weight: bold;
		}

		td.group_3{background-color: #FFB6C1;}
		td.nbgroup_3{background-color: #FFB6C1;}
		td.header_3 {
			background-color: #D89AA4; 
			font-size:120%;
			padding: 2px 8px;
			font-weight: bold;
		}
	td.blackshade {
		font-size:140%;
		padding: 4px 8px;
	}
	.summaryrow > * {
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
	.grouptotalsrow + :not(.grouptotalsrow) > * {
		border-top:solid #808080 1px; 
	}

</style>

	<div class="rnr-cw-grid rnr-s-2 asbuttons {$pageStyleName}">		
						<div class="rnr-c rnr-cv rnr-c-grid">
		<div class="rnr-brickcontents style1 rnr-b-report">		
			<table class="rnr-report" cellspacing=0 cellpadding=0 border=0>
			
				
				
											
									
				
				
											
									
				
				
											
									
				
				
											
									
				
				
											
											
									
				
				
											
									
				
				
											
									
				
				
											
									
				
				
											
									
				
				
											
									
				
				
											
									
				
				
											
									
				
				
											
									
			
			{BEGIN grid_row}<TBODY>
  {BEGIN Nombre_Terapista_newgroup}<tr class="group-headers">
					<td class="blackshade">{$label Reporte_Estudiantes Nombre_Terapista}</td>
					<td class="blackshade">{$label Reporte_Estudiantes TipoTerapia}</td>
					<td class="blackshade">{$label Reporte_Estudiantes fecha}</td>
										<td class="blackshade"></td>
					<td class="blackshade">{$label Reporte_Estudiantes edad}</td>
					<td class="blackshade">{$label Reporte_Estudiantes Direccion}</td>
					<td class="blackshade">{$label Reporte_Estudiantes Estudiante}</td>
					<td class="blackshade">{$label Reporte_Estudiantes FotoRostro}</td>
					<td class="blackshade">{$label Reporte_Estudiantes Telefono}</td>
					<td class="blackshade">{$label Reporte_Estudiantes hora}</td>
				</tr>
				<tr class="group-spliter-1" >
																				<td colspan=10 class=header_1><font >{$Nombre_Terapista_grval}</font></td>
																</tr>
			{END Nombre_Terapista_newgroup}
			{BEGIN TipoTerapia_newgroup}<tr class="group-spliter-2" >
													<td class=" group_1" >&nbsp;</td>
																				<td colspan=9 class=header_2><font >{$TipoTerapia_grval}</font></td>
										</tr>
			{END TipoTerapia_newgroup}
			{BEGIN fecha_newgroup}<tr class="group-spliter-3" >
													<td class=" group_1" >&nbsp;</td>
													<td class=" group_2" >&nbsp;</td>
																				<td colspan=8 class=header_3><font >{$fecha_grval}</font></td>
				</tr>
			{END fecha_newgroup}
						
			{BEGIN row_data}<tr {$rowattrs}>
										<td class=" group_1" >&nbsp;</td>
										<td class=" group_2" >&nbsp;</td>
										<td class=" group_3" >&nbsp;</td>
								<td class=data>
					{BEGIN lcs_descsocial_dtable_link}<span>
					</span>
					{END lcs_descsocial_dtable_link}
					{BEGIN lcs_embarazo_dtable_link}<span>
					</span>
					{END lcs_embarazo_dtable_link}
					{BEGIN lcs_emociones_dtable_link}<span>
					</span>
					{END lcs_emociones_dtable_link}
					{BEGIN lcs_encargado_dtable_link}<span>
					</span>
					{END lcs_encargado_dtable_link}
					{BEGIN lcs_enfermedades_dtable_link}<span>
					</span>
					{END lcs_enfermedades_dtable_link}
					{BEGIN lcs_histoiralfamiliar_dtable_link}<span>
					</span>
					{END lcs_histoiralfamiliar_dtable_link}
					{BEGIN lcs_historialclinico_dtable_link}<span>
					</span>
					{END lcs_historialclinico_dtable_link}
					{BEGIN lcs_lenguaje_dtable_link}<span>
					</span>
					{END lcs_lenguaje_dtable_link}
					{BEGIN lcs_terapias_dtable_link}<span>
					</span>
					{END lcs_terapias_dtable_link}
					{BEGIN lcs_tiposocial_dtable_link}<span>
					</span>
					{END lcs_tiposocial_dtable_link}
					{BEGIN lcs_transtornoalimenticio_dtable_link}<span>
					</span>
					{END lcs_transtornoalimenticio_dtable_link}
					{BEGIN lcs_transtornoesfinteres_dtable_link}<span>
					</span>
					{END lcs_transtornoesfinteres_dtable_link}
					{BEGIN lcs_trastornosuenio_dtable_link}<span>
					</span>
					{END lcs_trastornosuenio_dtable_link}
				</td>
					<td class=data>{$edad_value}</td>
					<td class=data>{$Direccion_value}</td>
					<td class=data>{$Estudiante_value}</td>
					<td class=data>{$FotoRostro_value}</td>
					<td class=data>{$Telefono_value}</td>
					<td class=data>{$hora_value}</td>
				</tr>
			{END row_data}
			
						{BEGIN fecha_endgroup}<tr class="summaryrow" >
					<td class=group_1 style="border-top: none;"></td>
					<td class=group_2 style="border-top: none;"></td>
										<td  class="group_3" colspan=8 >
				Resumen de {$label Reporte_Estudiantes fecha} {$fecha_grval}
					- <span class="summary-3" data-type="summary" data-value="{$groupfecha_total_cnt}">{$groupfecha_total_cnt}</span> Registros totales</td>
				</tr>
															{END fecha_endgroup}
						{BEGIN TipoTerapia_endgroup}<tr class="summaryrow" >
					<td class=group_1 style="border-top: none;"></td>
										<td  class="group_2" colspan=9 >
				Resumen de {$label Reporte_Estudiantes TipoTerapia} {$TipoTerapia_grval}
					- <span class="summary-2" data-type="summary" data-value="{$groupTipoTerapia_total_cnt}">{$groupTipoTerapia_total_cnt}</span> Registros totales</td>
				</tr>
															{END TipoTerapia_endgroup}
						{BEGIN Nombre_Terapista_endgroup}<tr class="summaryrow" >
										<td  class="group_1" colspan=10 >
				Resumen de {$label Reporte_Estudiantes Nombre_Terapista} {$Nombre_Terapista_grval}
					- <span class="summary-1" data-type="summary" data-value="{$groupNombre_Terapista_total_cnt}">{$groupNombre_Terapista_total_cnt}</span> Registros totales</td>
				</tr>
															{END Nombre_Terapista_endgroup}
			</TBODY>{END grid_row}

										</table>
		</div>
	</div>

</div>





{END container_grid}



{BEGIN container_pagination}<div class="rnr-c rnr-ch rnr-c-pagination">

{BEGIN pagination_block}<div  class="style1 rnr-bc rnr-b-pagination {$brickclass_pagination}">{$pagination}</div>
{END pagination_block}


</div>
{END container_pagination}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
